Repository XenoPOMP/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint **/*.{css,scss}

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": "eslint",
  "**/*.scss": "stylelint **/*.{css,scss}"
}

🦿 automate font sizes
  src/styles/design-system.scss
  src/styles/helpers/design.scss
Due: stylelint **/*.{css,scss}

ℹ️ [skip ci] v5.4.1
  package.json
Due: none

📦 update next packages
  package.json
  yarn.lock
Due: none

🏃‍♂️ add deployment method
  .idea/runConfigurations/deploy.xml
Due: none

🪲 fix template
  _templates/ui/new/story.ejs.t
Due: none

🌀 add type augmetation
  .config/declarations/reactcss.d.ts
  tsconfig.json
Due: eslint

🫗 create glass component
  __tests__/unit/components/ui-kit/glass/component.test.tsx
  src/components/ui/kit/Glass/Glass.props.ts
  src/components/ui/kit/Glass/Glass.stories.tsx
  src/components/ui/kit/Glass/Glass.tsx
  src/components/ui/kit/index.tsx
Due: eslint

💬 add new story
  src/components/ui/kit/Glass/Glass.stories.tsx
Due: eslint

✍️ update story
  src/components/ui/kit/Glass/Glass.stories.tsx
Due: eslint

💬 update comments
  src/components/ui/kit/Glass/Glass.props.ts
  src/components/ui/kit/Glass/Glass.tsx
Due: eslint

ℹ️ [skip ci] v5.4.2
  package.json
Due: none

📝 update environment section
  README.md
Due: none

🧹 add feature to section
  README.md
Due: none

🕍 add new template
  _templates/comp/new/comp.ejs.t
  _templates/comp/new/module.ejs.t
  _templates/comp/new/story.ejs.t
  _templates/comp/new/test.ejs.t
Due: none

📚 update stories
  src/components/ui/Stack/Stack.stories.tsx
  src/components/ui/Stack/Stack.variants.ts
Due: eslint

✍️ rename properties
  src/components/ui/Stack/Stack.stories.tsx
  src/components/ui/Stack/Stack.variants.ts
Due: eslint

🙋‍♂️ make it possible to make vertical stacks
  src/components/ui/Stack/Stack.module.scss
  src/components/ui/Stack/Stack.stories.tsx
  src/components/ui/Stack/Stack.tsx
  src/components/ui/Stack/Stack.variants.ts
Due: eslint, stylelint **/*.{css,scss}

📏 create HStack and VStack
  __tests__/unit/components/h-stack/component.test.tsx
  __tests__/unit/components/v-stack/component.test.tsx
  _templates/comp/new/story.ejs.t
  src/components/ui/HStack/HStack.tsx
  src/components/ui/Stack/Stack.stories.tsx
  src/components/ui/VStack/VStack.tsx
  src/components/ui/index.ts
Due: eslint

🪓 create ZStack
  __tests__/unit/components/z-stack/component.test.tsx
  src/components/ui/ZStack/ZStack.module.scss
  src/components/ui/ZStack/ZStack.stories.tsx
  src/components/ui/ZStack/ZStack.tsx
  src/components/ui/index.ts
Due: eslint, stylelint **/*.{css,scss}

✍️ refactor prop
  src/components/ui/Stack/Stack.props.ts
  src/components/ui/Stack/Stack.stories.tsx
  src/components/ui/Stack/Stack.tsx
Due: eslint

👨‍🔬 optimize css
  src/components/ui/Stack/Stack.module.scss
Due: stylelint **/*.{css,scss}

📝 rename prop in css
  src/components/ui/Stack/Stack.module.scss
  src/components/ui/Stack/Stack.tsx
Due: eslint, stylelint **/*.{css,scss}

🫧 introduce new eslint rule
  .config/eslint.config.mjs
  __tests__/assets/extensions/toMatchStructure.ts
  __tests__/unit/hooks/use-outside/hook.test.tsx
  __tests__/unit/utilities/handle-functional-children/utils.tsx
  app/layout.tsx
  app/page.tsx
  app/sitemap.ts
  mdx-components.tsx
  package.json
  yarn.lock
Due: eslint

📜 update eslint
  .config/eslint.config.mjs
Due: none

🧼 remove generateStaticMetadata
  app/page.tsx
  src/utils/seo/generateStaticMetadata.ts
  src/utils/seo/index.ts
Due: eslint

🐞 fix all eslint issues
  .config/.dev/scripts/logger.ts
  .config/.dev/scripts/utils/creation.ts
  .config/.dev/scripts/utils/deletion.ts
  .config/cypress.config.ts
  .config/eslint.config.mjs
  __tests__/assets/extensions/toMatchStructure.ts
  __tests__/assets/mocks/mockRouter.ts
  __tests__/unit/components/ui-kit/navbar-item/component.test.tsx
  __tests__/unit/hooks/use-linked-mutation.test.tsx
  __tests__/unit/hooks/use-race/use-race.test.tsx
  __tests__/unit/utilities/createStorageKey.test.ts
  app/constants/mock-constants.ts
  src/components/layout/Providers/Providers.tsx
  src/components/providers/RQProvider/RQProvider.tsx
  src/components/ui/DesignSystem/DesignSystem.tsx
  src/components/ui/DesignSystem/use-computed-styles.ts
  src/components/ui/HStack/HStack.tsx
  src/components/ui/Spacer/Spacer.stories.tsx
  src/components/ui/Stack/Stack.variants.ts
  src/components/ui/VStack/VStack.tsx
  src/components/ui/kit/Accordion/Accordion.tsx
  src/components/ui/kit/Accordion/components/Body.tsx
  src/components/ui/kit/Accordion/components/Collapse.tsx
  src/components/ui/kit/Avatar/Avatar.stories.tsx
  src/components/ui/kit/Badge/Badge.stories.tsx
  src/components/ui/kit/Badge/Badge.tsx
  src/components/ui/kit/Glass/Glass.stories.tsx
  src/components/ui/kit/Loading/icons/Circle.tsx
  src/components/ui/kit/Logo/Logo.props.ts
  src/components/ui/kit/Logo/Logo.tsx
  src/components/ui/kit/Sidebar/Sidebar.stories.tsx
  src/components/ui/kit/Sidebar/Sidebar.tsx
  src/components/ui/kit/Toggle/Toggle.tsx
  src/hooks/use-race/useRace.ts
  src/hooks/useLinkedMutation.ts
  src/themes/api/css-properties-to-tw.ts
  src/zustand/stores/useExampleStore.ts
Due: eslint

ℹ️ [skip ci] v5.5.0
  package.json
Due: none

🚮 remove script
  package.json
Due: none

📝 create new script
  .config/.dev/scripts/cleanup.ts
  .config/.dev/scripts/logger.ts
  package.json
Due: eslint

🧪 change prefix generation
  .config/.dev/scripts/logger.ts
Due: eslint

ℹ️ create cleanup script
  .config/.dev/scripts/cleanup.ts
  package.json
Due: eslint

✍️ update script
  .config/.dev/scripts/cleanup.ts
Due: eslint

ℹ️ add log
  .config/.dev/scripts/cleanup.ts
Due: eslint

👨‍🔧 create sed util
  .config/.dev/scripts/cleanup.ts
  .config/.dev/scripts/utils/sed.ts
Due: eslint

📝 change logs
  .config/.dev/scripts/cleanup.ts
Due: eslint

📥 install fs-extra
  package.json
  yarn.lock
Due: none

📦 install types
  package.json
  yarn.lock
Due: none

©️ copy modified files
  .config/.dev/scripts/cleanup.ts
  package.json
  yarn.lock
Due: eslint

📂 make function recursive
  .config/.dev/scripts/cleanup.ts
Due: eslint
