Repository XenoPOMP/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint **/*.{css,scss}

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": "eslint",
  "**/*.scss": "stylelint **/*.{css,scss}"
}

🐞 fix env parsing
  src/utils/env.ts
Due: eslint

📝 enhance schema parsing
  src/utils/env.ts
Due: eslint

Revert "📝 enhance schema parsing"
  src/utils/env.ts
Due: eslint

✍️ add checks
  __tests__/unit/utilities/env.test.ts
  src/utils/env.ts
  src/utils/misc/index.ts
  src/utils/misc/node-env-checks.ts
Due: eslint

🖊️ rename fn
  __tests__/unit/utilities/env.test.ts
  src/utils/misc/node-env-checks.ts
Due: eslint

📦 install package
  package.json
  yarn.lock
Due: none

👨‍💻 add devtools
  src/components/layout/Providers/Providers.tsx
  src/utils/next/withWrappers.ts
Due: eslint

📦 change package version
  package.json
  yarn.lock
Due: none

🥷 update ignore file
  .gitignore
Due: none

📦 install dev dep
  package.json
  yarn.lock
Due: none

🥷 update gitignore
  .gitignore
Due: none

📝 change version
  package.json
Due: none

📦 install ui lib
  package.json
  yarn.lock
Due: none

🧬 generate component
  __tests__/unit/components/ui-kit/shortcut-hint/component.test.tsx
  src/components/ui/kit/ShortcutHint/ShortcutHint.stories.tsx
  src/components/ui/kit/ShortcutHint/ShortcutHint.tsx
  src/components/ui/kit/index.tsx
Due: eslint

✍️ update component
  package.json
  src/components/ui/kit/ShortcutHint/ShortcutHint.stories.tsx
  src/components/ui/kit/ShortcutHint/ShortcutHint.tsx
  yarn.lock
Due: eslint

✍️ define root font size
  src/styles/design-system.scss
Due: stylelint **/*.{css,scss}

🚮 remove font size scaling on mobile devices
  src/styles/design-system.scss
Due: stylelint **/*.{css,scss}

Revert "🚮 remove font size scaling on mobile devices"
  src/styles/design-system.scss
Due: stylelint **/*.{css,scss}

✍️ rename themes
  .config/tailwind.config.ts
  __tests__/unit/themes/plugins/themes.test.ts
  src/themes/definitions/CustomTheme.ts
  src/themes/definitions/dark.theme.ts
  src/themes/definitions/darkTheme.ts
  src/themes/definitions/index.ts
  src/themes/definitions/lightTheme.ts
Due: eslint

📝 create new constant value
  .config/tailwind.config.ts
  app/constants/index.ts
  app/constants/themes.ts
Due: eslint

Revert "📝 create new constant value"
  .config/tailwind.config.ts
  app/constants/index.ts
  app/constants/themes.ts
Due: eslint

🎨 style component
  src/components/ui/kit/ShortcutHint/ShortcutHint.module.scss
  src/components/ui/kit/ShortcutHint/ShortcutHint.tsx
Due: eslint, stylelint **/*.{css,scss}

💬 update comments
  src/components/ui/kit/ShortcutHint/ShortcutHint.tsx
Due: eslint

🌅 update OG images
  public/open-graph/og (1200x627).png
  public/open-graph/og (200x200).png
Due: none

📝 change styles
  src/components/ui/kit/ShortcutHint/ShortcutHint.tsx
  src/components/ui/kit/UIKit.module.scss
Due: eslint, stylelint **/*.{css,scss}

🚮 move config to root
  app/globals.scss
  tailwind.config.ts
Due: eslint, stylelint **/*.{css,scss}

🧪 fix tests
  __tests__/unit/themes/plugins/themes.test.ts
Due: eslint

🎨 change default theme
  src/themes/definitions/darkTheme.ts
Due: eslint

📝 remove previous styles
  src/components/ui/kit/Badge/Badge.tsx
Due: eslint

✍️ apply styles
  src/components/ui/kit/Badge/Badge.tsx
  src/components/ui/kit/Badge/Badge.variants.ts
Due: eslint

🎨 update theme
  eslint.config.ts
  src/themes/definitions/darkTheme.ts
Due: eslint

☑️ setup styles
  src/components/ui/kit/Button/Button.module.scss
  src/components/ui/kit/Button/Button.stories.tsx
  src/components/ui/kit/Button/Button.tsx
  src/components/ui/kit/Button/Button.variants.ts
Due: eslint, stylelint **/*.{css,scss}

✍️ declare mixin
  src/components/ui/kit/Button/Button.module.scss
  src/components/ui/kit/Button/Button.variants.ts
Due: eslint, stylelint **/*.{css,scss}

📝 update stories
  src/components/ui/kit/Button/Button.stories.tsx
Due: eslint

🐞 fix bg issue
  src/components/ui/kit/Badge/Badge.tsx
  src/components/ui/kit/Button/Button.variants.ts
  src/components/ui/kit/ShortcutHint/ShortcutHint.tsx
  src/components/ui/kit/UIKit.module.scss
Due: eslint, stylelint **/*.{css,scss}

🔗 update story
  src/components/ui/kit/Button/Button.stories.tsx
  src/components/ui/kit/Button/Button.variants.ts
Due: eslint

🎨 change theme
  src/themes/definitions/darkTheme.ts
Due: eslint

🖼️ change styles
  src/components/ui/kit/Button/Button.module.scss
  src/components/ui/kit/Button/Button.stories.tsx
  src/components/ui/kit/Button/Button.variants.ts
Due: eslint, stylelint **/*.{css,scss}
