Repository XenoPOMP/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint **/*.{css,scss}

🪝 create new hoc
  src/components/hoc/disableable/disableable.tsx
Due: eslint

✍️ change nullstyles
  src/styles/nullstyles.scss
Due: stylelint **/*.{css,scss}

🖊️ refactor code
  src/styles/nullstyles.scss
Due: stylelint **/*.{css,scss}

🗑️ delete obsolete code
  src/components/hoc/disableable/disableable.tsx
Due: eslint

🪲 fix eslint error
  src/components/ui/kit/List/List.stories.tsx
Due: eslint

📝 rename component
  src/components/ui/Stack/Stack.tsx
  src/components/ui/index.ts
Due: eslint

🚮 delete prev stacks
  src/components/ui/HStack/HStack.tsx
  src/components/ui/VStack/VStack.tsx
  src/components/ui/index.ts
Due: eslint

🪲 delete tests
  __tests__/unit/components/h-stack/component.test.tsx
  __tests__/unit/components/v-stack/component.test.tsx
  app/page.tsx
Due: eslint

📦 generate component
  __tests__/unit/components/v-stack/component.test.tsx
  _templates/comp/new/story.ejs.t
  src/components/ui/Stack/Stack.stories.tsx
  src/components/ui/VStack/VStack.stories.tsx
  src/components/ui/VStack/VStack.tsx
  src/components/ui/index.ts
Due: eslint

✍️ now stacks are correct
  __tests__/unit/components/h-stack/component.test.tsx
  src/components/ui/HStack/HStack.stories.tsx
  src/components/ui/HStack/HStack.tsx
  src/components/ui/VStack/StackRelative.props.ts
  src/components/ui/index.ts
Due: eslint

🧪 update test
  __tests__/unit/utilities/global-next-config.test.tsx
Due: eslint

🧪 test StoryBuilder
  __tests__/unit/utilities/story-builder.test.tsx
Due: eslint

📝 make fields protected
  src/utils/storybook/story-builder.ts
Due: eslint

📦 install jest-extended
  package.json
  yarn.lock
Due: none

✍️ update setup.vitest
  __tests__/setup.vitest.ts
Due: eslint

🧪 test hoc
  __tests__/unit/components/hoc/with-classname.test.tsx
Due: eslint

🗑️ delete obsolette hook
  __tests__/unit/hooks/use-optimistic-mutation/hook.test.ts
  src/hooks/index.ts
  src/hooks/use-optimistic-mutation/index.ts
  src/hooks/use-optimistic-mutation/useOptimisticMutation.ts
Due: eslint

🪝 update readme
  README.md
Due: none

✍️ update next.js
  package.json
  yarn.lock
Due: none

ℹ️ [skip ci] v6.1.0
  package.json
Due: none

🧪 100% test coverage
  __tests__/unit/hooks/use-hydrated-store.test.tsx
  __tests__/unit/utilities/global-next-config.test.tsx
Due: eslint

📝 ignore eslint warning
  __tests__/unit/hooks/use-hydrated-store.test.tsx
Due: eslint

🥷 ignore some files
  .idea/.gitignore
Due: none

📦 update libs manually
  package.json
  yarn.lock
Due: none

🐳 init config files for Docker
  .dockerignore
  Dockerfile
Due: none

🐳 setup standalone build for docker
  Dockerfile
  next.config.ts
  src/components/ui/kit/Glass/Glass.stories.tsx
  src/utils/env.ts
Due: eslint

🪲 fix docker config
  .idea/runConfigurations/Dockerfile.xml
  Dockerfile
  next.config.ts
  src/utils/env.ts
Due: eslint

ℹ️ [skip ci] v7.0.0
  package.json
Due: none

✏️ create typesafe url type
  __tests__/unit/types/typesafe-url-type.test.tsx
  _templates/type/new/type.ejs.t
  src/types/index.ts
  src/types/typesafe-url.ts
Due: eslint

📝 rename idea file
  .idea/runConfigurations/_template__of_Vitest.xml
Due: none

🔗 create component
  __tests__/assets/fixtures/index.ts
  __tests__/assets/fixtures/typesafe-url.fixtures.ts
  __tests__/unit/components/typesafe-link/component.test.tsx
  __tests__/unit/types/typesafe-url-type.test.tsx
  __tests__/unit/utilities/create-typesafe-url.test.tsx
  src/components/ui/TypesafeLink/TypesafeLink.stories.tsx
  src/components/ui/TypesafeLink/TypesafeLink.tsx
  src/components/ui/index.ts
  src/types/typesafe-url.ts
  src/utils/misc/create-typesafe-url.ts
  src/utils/misc/index.ts
Due: eslint

✏️ fix. func
  __tests__/assets/fixtures/typesafe-url.fixtures.ts
  src/utils/misc/create-typesafe-url.ts
Due: eslint

👨‍💻 handle url
  src/components/ui/TypesafeLink/TypesafeLink.tsx
Due: eslint

🪲 fix relative paths
  __tests__/assets/fixtures/typesafe-url.fixtures.ts
  src/utils/misc/create-typesafe-url.ts
Due: eslint

📝 update JSDoc
  src/components/ui/TypesafeLink/TypesafeLink.tsx
Due: eslint

🪲 fix ci
  src/utils/misc/create-typesafe-url.ts
Due: eslint

🧪 fix coverage
  __tests__/assets/fixtures/typesafe-url.fixtures.ts
  __tests__/unit/components/typesafe-link/component.test.tsx
Due: eslint

✏️ update readme
  README.md
Due: none

📝 change d.ts
  next-env.d.ts
Due: eslint

👨‍✈️ add alignments
  src/components/ui/HStack/HStack.stories.tsx
  src/components/ui/HStack/HStack.tsx
  src/components/ui/VStack/Alignment.module.scss
  src/components/ui/VStack/Preview.tsx
  src/components/ui/VStack/VStack.stories.tsx
  src/components/ui/VStack/VStack.tsx
  src/components/ui/VStack/VStack.variants.ts
Due: eslint, stylelint **/*.{css,scss}

Path conditions:
  eslint: any of: **/*.{js,ts,jsx,tsx}
  stylelint **/*.{css,scss}: any of: **/*.scss
