Repository XenoPOMP/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint **/*.{css,scss}

🐜 fix template
  _templates/ui/new/test.ejs.t
Due: none

🙋‍♂️ create Avatar component
  __tests__/unit/components/ui-kit/avatar/component.test.tsx
  src/components/ui/kit/Avatar/Avatar.props.ts
  src/components/ui/kit/Avatar/Avatar.stories.tsx
  src/components/ui/kit/Avatar/Avatar.tsx
  src/components/ui/kit/index.tsx
Due: eslint

📥 generate dicebear component
  __tests__/unit/components/ui-kit/dicebear-image/component.test.tsx
  _templates/ui/new/comp.ejs.t
  _templates/ui/new/test.ejs.t
  package.json
  src/components/ui/kit/DicebearImage/DicebearImage.tsx
  src/components/ui/kit/index.tsx
  yarn.lock
Due: eslint

🌅 update dicebear
  src/components/ui/kit/Avatar/Avatar.stories.tsx
  src/components/ui/kit/Avatar/Avatar.tsx
  src/components/ui/kit/DicebearImage/DicebearImage.props.ts
  src/components/ui/kit/DicebearImage/DicebearImage.tsx
Due: eslint

⬛️ make img square
  src/components/ui/kit/Avatar/Avatar.tsx
Due: eslint

💬 update comment
  src/components/ui/kit/Avatar/Avatar.tsx
Due: eslint

🧪 update test
  __tests__/unit/components/ui-kit/avatar/component.test.tsx
Due: eslint

🚥 create sidebar
  __tests__/unit/components/ui-kit/logo/component.test.tsx
  __tests__/unit/components/ui-kit/sidebar/component.test.tsx
  src/components/ui/kit/Logo/Logo.tsx
  src/components/ui/kit/Sidebar/Sidebar.stories.tsx
  src/components/ui/kit/Sidebar/Sidebar.tsx
  src/components/ui/kit/index.tsx
Due: eslint

🫧 remove debug styles
  src/components/ui/kit/Sidebar/Sidebar.tsx
Due: eslint

📝 update template
  _templates/ui/new/story.ejs.t
Due: none

📛 create badge component
  __tests__/unit/components/ui-kit/badge/component.test.tsx
  src/components/ui/kit/Badge/Badge.stories.tsx
  src/components/ui/kit/Badge/Badge.tsx
  src/components/ui/kit/Badge/Badge.variants.ts
  src/components/ui/kit/index.tsx
Due: eslint

🏛️ update template
  _templates/hook/new/test.ejs.t
Due: none

📦 update deps manually
  package.json
  yarn.lock
Due: none

🐋 init docker
  .config/Dockerfile
  .idea/runConfigurations/deploy.xml
  app/constants/node-env/index.ts
  package.json
  src/utils/next/index.ts
  src/utils/next/map-env-to-cfg.ts
  src/utils/next/withWrappers.ts
Due: eslint

Revert "🐋 init docker"
  .config/Dockerfile
  .idea/runConfigurations/deploy.xml
  app/constants/node-env/index.ts
  package.json
  src/utils/next/index.ts
  src/utils/next/map-env-to-cfg.ts
  src/utils/next/withWrappers.ts
Due: eslint

🕍 update template
  _templates/store/new/test.ejs.t
Due: none

🛼 rollback package version
  package.json
Due: none

📝 update lockfile
  yarn.lock
Due: none

ℹ️ [skip ci] v5.3.1
  package.json
Due: none

📑 refactor variable name
  src/styles/themes/design-system.config.ts
Due: eslint

🖍️ replace theme schemas
  src/themes/definitions/CustomTheme.ts
  src/themes/definitions/dark.theme.ts
  src/themes/definitions/index.ts
  src/themes/definitions/light.theme.ts
  src/themes/index.ts
Due: eslint

➡️ move main functionality to @/themes
  .config/tailwind.config.ts
  __tests__/unit/themes/plugins/custom-classes-plugin.test.ts
  __tests__/unit/themes/plugins/themes-plugins-api.test.ts
  src/styles/themes/index.ts
  src/styles/themes/plugins/index.ts
  src/themes/api/css-properties-to-tw.ts
  src/themes/api/index.ts
  src/themes/plugins/custom-classes.ts
  src/themes/plugins/index.ts
Due: eslint

🚮 remove src/styles/themes
  .config/tailwind.config.ts
  __tests__/unit/themes/plugins/design-config.test.tsx
  src/styles/themes/design-system.config.ts
  src/themes/api/index.ts
  src/themes/api/map-and-reduce.ts
  src/themes/design/index.ts
Due: eslint

ℹ️ [skip ci] v5.3.2
  package.json
Due: none

🧿 disable scss watcher
  .idea/watcherTasks.xml
Due: none

📦 manually update deps
  package.json
  yarn.lock
Due: none

🗑️ delete DEFAULT_SELECTOR
  __tests__/unit/zustand/example-store.test.tsx
  src/zustand/defaults/index.ts
Due: eslint

🕍 remove DEFAULT_SELECTOR from template
  __tests__/assets/assertions/assert-rendering.tsx
  _templates/store/new/test.ejs.t
Due: eslint

🩼 create injectMatchMediaMock
  __tests__/assets/utilities/index.ts
  __tests__/assets/utilities/injectMatchMediaMock.ts
  __tests__/unit/app/layout.test.tsx
Due: eslint

🐛 fix exports
  src/zustand/index.ts
Due: eslint

➡️ migrate sass deprecated functionality
  app/globals.scss
  app/main-page.module.scss
  src/styles/_config.scss
  src/styles/design-system.scss
  src/styles/mixins/assign-variable.scss
  src/styles/mixins/cascade-down.scss
  src/styles/templates.scss
  src/styles/utils/media.scss
Due: stylelint **/*.{css,scss}

🔙 add backwards capability
  src/styles/design-system.scss
Due: stylelint **/*.{css,scss}

🧪 change app.constants test
  __tests__/assets/fixtures/constants.fixtures.ts
  __tests__/assets/fixtures/index.ts
  __tests__/assets/index.ts
  __tests__/unit/app/constants.test.tsx
Due: eslint

🤮 check if metadata wont throw
  __tests__/assets/assertions/not-throwing.ts
  __tests__/assets/utilities/testNextPage.ts
Due: eslint

🐞 fix types
  __tests__/assets/assertions/not-throwing.ts
  __tests__/unit/components/ui-kit/dicebear-image/component.test.tsx
Due: eslint

🧹 make more decent types
  __tests__/assets/assertions/not-throwing.ts
Due: eslint

ℹ️ [skip ci] v5.4.0
  package.json
Due: none

🗑️ remove unusing deps
  package.json
  yarn.lock
Due: none

🤖 automize padding sizes
  src/styles/design-system.scss
  src/styles/helpers/design.scss
Due: stylelint **/*.{css,scss}

🦾 autogenerate heading sizes
  src/styles/design-system.scss
  src/styles/helpers/design.scss
Due: stylelint **/*.{css,scss}

Path conditions:
  eslint: any of: **/*.{js,ts,jsx,tsx}
  stylelint **/*.{css,scss}: any of: **/*.scss
