Repository XenoPOMP/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint **/*.{css,scss}

🧹 cleanup code
  __tests__/unit/hooks/use-optimistic-mutation/hook.test.ts
Due: eslint

🚮 remove children from props
  __tests__/assets/utilities/createTestingComponent.tsx
Due: eslint

👶 return children component
  __tests__/assets/utilities/createTestingComponent.tsx
Due: eslint

✍️ update code
  __tests__/assets/test-components/UseOptimisticMutationTest.tsx
  __tests__/unit/hooks/use-optimistic-mutation/hook.test.ts
Due: eslint

🧪 update tests
  __tests__/assets/test-components/UseOptimisticMutationTest.tsx
  __tests__/assets/utilities/createTestingComponent.tsx
  __tests__/assets/utilities/test-ui.tsx
  __tests__/unit/hooks/use-optimistic-mutation/hook.test.ts
Due: eslint

🧪 fix eslint warning
  __tests__/assets/test-components/UseOptimisticMutationTest.tsx
Due: eslint

ℹ️ [skip ci] v5.6.1
  package.json
Due: none

✍️ fix declaration files bundling
  tsconfig.json
Due: none

🥷 update gitignore
  .gitignore
Due: none

💬 update comments
  .config/declarations/reactcss.d.ts
Due: eslint

🧪 enhance tests
  __tests__/assets/test-components/index.ts
  __tests__/assets/test-components/use-optimistic-mutation/UseOptimisticMutationTest.tsx
  __tests__/assets/test-components/use-optimistic-mutation/types.ts
  __tests__/unit/hooks/use-optimistic-mutation/hook.test.ts
Due: eslint

📥 createPersistentStore
  src/zustand/utils/create-persistent-store.ts
  src/zustand/utils/index.ts
Due: eslint

🗑️ remove old design system
  app/globals.scss
  src/components/ui/Stack/Stack.tsx
  src/styles/design-system.scss
  src/styles/helpers/design.scss
Due: eslint, stylelint **/*.{css,scss}

🏛️ create new tw classes
  src/themes/plugins/custom-classes.ts
Due: eslint

✋ create opposite classes
  src/themes/plugins/custom-classes.ts
Due: eslint

🌀 enhance types
  src/zustand/utils/create-persistent-store.ts
Due: eslint

🌀 add new type
  src/types/InferBoundStoreType.ts
Due: eslint

✋ block hydration
  src/zustand/utils/create-persistent-store.ts
Due: eslint

✅ create hook for handling persistent store
  src/zustand/hooks/index.ts
  src/zustand/hooks/use-hydrated-store.ts
  src/zustand/index.ts
Due: eslint

🏬 refactor return
  src/zustand/hooks/use-hydrated-store.ts
Due: eslint

✍️ add additional data to For component
  src/components/layout/For/For.props.ts
  src/components/layout/For/For.tsx
Due: eslint

🎇 change favicon
  app/favicon.ico
Due: none

✍️ update project icon
  .idea/icon.svg
Due: none

🌀 change type of wrapper
  src/utils/next/withWrappers.ts
Due: eslint

📝 create util for config
  src/utils/next/app-config.ts
  src/utils/next/index.ts
Due: eslint

🧪 test config
  __tests__/unit/utilities/global-next-config.test.tsx
Due: eslint

✋ remove deprecated function
  next.config.ts
  src/utils/next/index.ts
  src/utils/next/withWrappers.ts
Due: eslint

🧪 fix ESLint errors
  src/utils/next/app-config.ts
  src/zustand/hooks/use-hydrated-store.ts
Due: eslint

📦 install serwist
  package.json
  yarn.lock
Due: none

📝 change serwist config
  next.config.ts
  src/utils/next/app-config.ts
Due: eslint

✍️ change tsconfig
  tsconfig.json
Due: none

🥷 ingore serwist files
  .gitignore
Due: none

📄 init PWA config
  app/manifest.json
  app/sw.ts
Due: eslint

💤 change letter direction
  app/layout.tsx
Due: eslint

🎆 update SEO
  app/constants/app-info.ts
  app/layout.tsx
  src/utils/seo/generateOpenGraph.ts
Due: eslint

🚮 delete sharp
  package.json
Due: none

✍️ change bg color
  app/layout.tsx
Due: eslint

➡️ move manifest file
  public/manifest.json
Due: none

Revert "➡️ move manifest file"
  app/manifest.json
Due: none

📀 add cache
  next.config.ts
Due: eslint

Path conditions:
  eslint: any of: **/*.{js,ts,jsx,tsx}
  stylelint **/*.{css,scss}: any of: **/*.scss
