Repository XenoPOMP/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint **/*.{css,scss}

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": "eslint",
  "**/*.scss": "stylelint **/*.{css,scss}"
}

✍️ organize code
  src/components/ui/kit/Button/Button.module.scss
Due: stylelint **/*.{css,scss}

😻 update logo component
  src/components/ui/kit/Logo/Logo.stories.ts
  src/components/ui/kit/Logo/Logo.tsx
Due: eslint

🧪 enhance test
  __tests__/unit/hooks/use-tracked-state/hook.test.ts
Due: eslint

✍️ refactor name
  __tests__/assets/fixtures/constants.fixtures.ts
  __tests__/unit/app/constants.test.tsx
Due: eslint

🐞 remove font from logo
  src/components/ui/kit/Logo/Logo.tsx
Due: eslint

🛼 change dep
  .github/workflows/template-cleanup.yml
  package.json
  yarn.lock
Due: none

📦 update deps
  package.json
  yarn.lock
Due: none

📦 update severe next.js version
  package.json
  yarn.lock
Due: none

🪝 create morphable hoc
  eslint.config.ts
  src/components/hoc/index.tsx
  src/components/hoc/morphable/morphable.tsx
Due: eslint

🧪 create test
  __tests__/unit/components/hoc/morphable.test.tsx
  src/components/hoc/morphable/morphable.tsx
Due: eslint

🚮 remove overload declarationd
  src/components/hoc/morphable/morphable.tsx
Due: eslint

🚮 delete hoc
  __tests__/unit/components/hoc/morphable.test.tsx
  src/components/hoc/index.tsx
  src/components/hoc/morphable/morphable.tsx
Due: eslint

🧪 test slotable hoc
  __tests__/unit/components/hoc/slotable.test.tsx
Due: eslint

✍️ create SplitView component
  __tests__/unit/components/ui-kit/split-view/component.test.tsx
  src/components/ui/kit/SplitView/SplitView.props.ts
  src/components/ui/kit/SplitView/SplitView.stories.tsx
  src/components/ui/kit/SplitView/SplitView.tsx
  src/components/ui/kit/index.tsx
Due: eslint

🎨 change theme
  src/themes/definitions/darkTheme.ts
Due: eslint

✍️ change paddings
  src/components/ui/kit/SplitView/SplitView.tsx
Due: eslint

📋 change list styles
  __tests__/unit/components/ui-kit/list/component.test.tsx
  src/components/ui/kit/List/List.module.scss
  src/components/ui/kit/List/List.stories.tsx
  src/components/ui/kit/List/List.tsx
  src/components/ui/kit/List/ListItem.tsx
  src/components/ui/kit/index.tsx
Due: eslint, stylelint **/*.{css,scss}

🚮 remove manual border
  src/components/ui/kit/List/List.module.scss
Due: stylelint **/*.{css,scss}

📚 change styles
  src/components/ui/kit/List/List.module.scss
  src/components/ui/kit/List/List.stories.tsx
  src/components/ui/kit/SplitView/SplitView.props.ts
  src/components/ui/kit/SplitView/SplitView.tsx
Due: eslint, stylelint **/*.{css,scss}

📝 refactor code
  src/components/ui/kit/SplitView/SplitView.props.ts
  src/components/ui/kit/SplitView/SplitView.tsx
Due: eslint

📕 change story
  src/components/ui/kit/List/List.stories.tsx
Due: eslint

🚫 now you can disable hover animation on split view
  src/components/ui/kit/List/List.stories.tsx
  src/components/ui/kit/SplitView/SplitView.props.ts
  src/components/ui/kit/SplitView/SplitView.tsx
Due: eslint

📦 update package
  package.json
  yarn.lock
Due: none

🧪 enhance tests
  __tests__/unit/components/ui-kit/list/component.test.tsx
  __tests__/unit/components/ui-kit/split-view/component.test.tsx
  src/components/ui/kit/SplitView/SplitView.tsx
Due: eslint

🧪 install dev deps
  package.json
  yarn.lock
Due: none

🪲 fix eslint errors
  .config/.dev/scripts/pack-env.ts
  .config/.dev/scripts/utils/deletion.ts
  .config/.lintstagedrc.json
  eslint.config.ts
  src/components/providers/RQProvider/RQProvider.tsx
  src/components/ui/DesignSystem/DesignSystem.tsx
  src/components/ui/Stack/Stack.tsx
  src/components/ui/Stack/Stack.variants.ts
  src/components/ui/kit/Accordion/Accordion.tsx
  src/components/ui/kit/Badge/Badge.tsx
  src/components/ui/kit/Badge/Badge.variants.ts
  src/components/ui/kit/Button/Button.variants.ts
  src/components/ui/kit/DicebearImage/DicebearImage.tsx
  src/components/ui/kit/Loading/Loading.tsx
  src/components/ui/kit/Loading/Loading.variants.ts
  src/components/ui/kit/Loading/icons/Circle.tsx
  src/hooks/useLinkedMutation.ts
Due: eslint

⚠️ fix some warnings
  .config/.dev/scripts/pack-env.ts
  .config/.dev/scripts/utils/sed.ts
Due: eslint

⚠️ fix some warnings
  .config/cypress.config.ts
  src/components/layout/CoreLayout/CoreLayout.tsx
  src/components/layout/For/For.tsx
  src/components/layout/Providers/Providers.tsx
  src/components/providers/RQProvider/RQProvider.tsx
  src/components/ui/Spacer/Spacer.tsx
  src/components/ui/kit/Accordion/Accordion.tsx
  src/components/ui/kit/Accordion/components/Body.tsx
  src/components/ui/kit/Accordion/components/Collapse.tsx
  src/components/ui/kit/Avatar/Avatar.tsx
  src/components/ui/kit/Badge/Badge.tsx
  src/components/ui/kit/DicebearImage/DicebearImage.tsx
Due: eslint

⚠️ fix some warnings
  src/components/ui/kit/DicebearImage/DicebearImage.tsx
  src/components/ui/kit/Loading/Loading.tsx
  src/components/ui/kit/Loading/icons/Circle.tsx
  src/components/ui/kit/NavbarItem/NavbarItem.tsx
  src/components/ui/kit/ShortcutHint/ShortcutHint.tsx
  src/components/ui/kit/Toggle/Toggle.tsx
  src/hooks/use-effect-after-mount/useEffectAfterMount.ts
  src/hooks/use-race/useRace.ts
  src/hooks/useLinkedMutation.ts
Due: eslint

⚠️ fix some warnings
  .config/.dev/scripts/pack-env.ts
  .config/.dev/scripts/utils/sed.ts
  .config/cypress.config.ts
  src/components/layout/CoreLayout/CoreLayout.tsx
  src/components/layout/For/For.tsx
  src/components/layout/Providers/Providers.tsx
  src/components/providers/RQProvider/RQProvider.tsx
  src/components/ui/Spacer/Spacer.tsx
  src/components/ui/kit/Accordion/Accordion.tsx
  src/components/ui/kit/Accordion/components/Body.tsx
  src/components/ui/kit/Accordion/components/Collapse.tsx
  src/components/ui/kit/Avatar/Avatar.tsx
  src/components/ui/kit/Badge/Badge.tsx
  src/components/ui/kit/DicebearImage/DicebearImage.tsx
  src/components/ui/kit/Loading/Loading.tsx
  src/components/ui/kit/Loading/icons/Circle.tsx
  src/components/ui/kit/NavbarItem/NavbarItem.tsx
  src/components/ui/kit/ShortcutHint/ShortcutHint.tsx
  src/components/ui/kit/Toggle/Toggle.tsx
  src/hooks/use-effect-after-mount/useEffectAfterMount.ts
  src/hooks/use-race/useRace.ts
  src/hooks/useLinkedMutation.ts
Due: eslint

🛡️ fix template
  _templates/hook/new/test.ejs.t
Due: none

🏛️ fix template again
  _templates/hook/new/test.ejs.t
Due: none

👽 remove space in fn call
  _templates/hook/new/test.ejs.t
Due: none

🌲 generate hook
  __tests__/assets/test-components/UseOptimisticMutationTest.tsx
  __tests__/assets/test-components/index.ts
  __tests__/unit/hooks/use-optimistic-mutation/hook.test.ts
  _templates/hook/new/hook.ejs.t
  _templates/hook/new/test.ejs.t
  src/hooks/index.ts
  src/hooks/use-optimistic-mutation/index.ts
  src/hooks/use-optimistic-mutation/useOptimisticMutation.ts
Due: eslint

Revert "🌲 generate hook"
  __tests__/assets/test-components/UseOptimisticMutationTest.tsx
  __tests__/assets/test-components/index.ts
  __tests__/unit/hooks/use-optimistic-mutation/hook.test.ts
  _templates/hook/new/hook.ejs.t
  _templates/hook/new/test.ejs.t
  src/hooks/index.ts
  src/hooks/use-optimistic-mutation/index.ts
  src/hooks/use-optimistic-mutation/useOptimisticMutation.ts
Due: eslint

✍️ init hook
  __tests__/assets/test-components/UseOptimisticMutationTest.tsx
  __tests__/assets/test-components/index.ts
  __tests__/assets/utilities/createTestingComponent.tsx
  __tests__/unit/hooks/use-optimistic-mutation/hook.test.ts
  src/hooks/index.ts
  src/hooks/use-optimistic-mutation/index.ts
  src/hooks/use-optimistic-mutation/useOptimisticMutation.ts
Due: eslint

📝 refactor code
  __tests__/assets/utilities/createTestingComponent.tsx
  __tests__/assets/utilities/index.ts
  __tests__/assets/utilities/test-ui.tsx
  __tests__/unit/hooks/use-tracked-state/hook.test.ts
  package.json
  yarn.lock
Due: eslint

🎏 update fn
  __tests__/assets/utilities/createTestingComponent.tsx
Due: eslint

🔢 create input component
  __tests__/assets/utilities/createTestingComponent.tsx
  __tests__/assets/utilities/test-ui.tsx
Due: eslint
