Repository XenoPOMP/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint **/*.{css,scss}

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": "eslint",
  "**/*.scss": "stylelint **/*.{css,scss}"
}

📝 update badges in README
  README.md
Due: none

✍️ update .all-contributorsrc
  .all-contributorsrc
Due: none

Revert "✍️ update .all-contributorsrc"
  .all-contributorsrc
Due: none

✍️ update README.md
  README.md
Due: none

✍️ update readme info
  README.md
Due: none

⚓ change alignment of text
  README.md
Due: none

⚓ return alignment
  README.md
Due: none

⚓ add alignment for badges
  README.md
Due: none

⚓ add styles
  README.md
Due: none

🗑️ remove useless badges
  README.md
Due: none

⭐ change badges positions
  README.md
Due: none

🖼️ change logo of repo
  README.md
Due: none

🔁 replace features with nice looking labels
  README.md
Due: none

✍️ fix typos in readme
  README.md
Due: none

🔗 add link to Generate page
  README.md
Due: none

v3.8.0-beta.0
  package.json
Due: none

🌿 init storybook
  .eslintrc.js
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  src/stories/Configure.mdx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  yarn.lock
Due: eslint

v3.8.0
  package.json
Due: none

v3.8.1
  package.json
Due: none

🤖 update dependabot config
  .github/dependabot.yml
Due: none

v3.8.2
  package.json
Due: none

v3.8.3
  package.json
Due: none

🥷 unignore testing directory
  .eslintignore
Due: none

🥷 ignore e2e folder again
  .eslintignore
Due: none

🪲 fix all eslint issues
  __tests__/unit/app/constants.test.tsx
  __tests__/unit/app/layout.test.tsx
  __tests__/unit/components/background-image.test.tsx
  __tests__/unit/hooks/use-boolean.test.tsx
  __tests__/unit/hooks/use-copy-to-clipboard.test.tsx
  __tests__/unit/hooks/use-env.test.tsx
  __tests__/unit/hooks/use-unique-id.test.tsx
  __tests__/unit/themes/plugins/themes-plugins-api.test.ts
  __tests__/unit/utilities/handleFunctionalChildren.test.tsx
  __tests__/unit/utilities/seo.test.tsx
  __tests__/unit/zustand/use-hydrated-store.test.tsx
Due: eslint

v3.8.4
  package.json
Due: none

✍️ refactor name
  __tests__/assets/mocks/index.ts
  __tests__/assets/mocks/mockFonts.ts
Due: eslint

🌀 update types inside mock func
  __tests__/assets/mocks/mockFonts.ts
Due: eslint

✅ allow importing ts extensions
  tsconfig.json
Due: none

🪲 fix Vitest testing exclusion
  __tests__/unit/configs/all-in-one-configs.test.ts
  vitest.config.ts
Due: eslint

➕ add styles inside storybook
  .storybook/preview.ts
Due: eslint

🌿 init themes addon
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  yarn.lock
Due: eslint

v3.9.0
  package.json
Due: none

🤖 add prefixes for dependabot messages
  .github/dependabot.yml
Due: none

chore(dev-deps): upgrade libraries manually
  package.json
  yarn.lock
Due: none

🔮 add some mixins
  src/styles/mixins/assign-variable.scss
  src/styles/mixins/automaticColumns.scss
  src/styles/mixins/cascade-down.scss
  src/styles/mixins/maskImage.scss
  src/styles/mixins/polyfills.scss
  src/styles/templates.scss
Due: stylelint **/*.{css,scss}

v3.10.0
  package.json
Due: none

🖼️ add project icon to repo
  .gitignore
  .idea/icon.svg
Due: none

📦 install str.scss package
  package.json
  src/styles/functions/sameTransition.scss
  src/styles/templates.scss
  yarn.lock
Due: stylelint **/*.{css,scss}

🧪 change all mockEnv imports
  __tests__/assets/mocks/index.ts
  __tests__/assets/utilities/vi-logger.ts
  __tests__/unit/app/layout.test.tsx
  __tests__/unit/app/sitemap.test.tsx
  __tests__/unit/hooks/use-env.test.tsx
Due: eslint
