Repository XenoPOMP/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint **/*.{css,scss}

➡️ refacor use-env export
  __tests__/unit/hooks/use-race/use-race.test.tsx
  app/layout.tsx
  src/hooks/index.ts
Due: eslint

📝 refactor all imports of useEnv
  app/sitemap.ts
Due: eslint

🗑️ delete unusing hooks
  __tests__/assets/components/TestUseBoolean.tsx
  __tests__/assets/components/index.tsx
  __tests__/unit/hooks/use-boolean.test.tsx
  src/hooks/useBoolean.ts
  src/hooks/useCopyToClipboard.ts
Due: eslint

🧑 mark useRace as client hook
  src/hooks/use-race/useRace.ts
Due: eslint

🗑️ delete unusing test
  __tests__/unit/components/background-image.test.tsx
Due: eslint

📝 refactor hook imports
  __tests__/unit/hooks/use-copy-to-clipboard.test.tsx
  __tests__/unit/hooks/use-unique-id.test.tsx
  src/hooks/index.ts
  src/hooks/useOutSide.ts
Due: eslint

🧑 mark useOutSide as client-side hook
  src/hooks/useOutSide.ts
Due: eslint

🥷 ignore some deps from dependabot
  .github/dependabot.yml
Due: none

v4.2.0
  package.json
Due: none

📦 install knip
  package.json
  yarn.lock
Due: none

🖼️ create design system file
  src/styles/design-system.scss
Due: stylelint **/*.{css,scss}

✍️ add option to enable design system
  app/globals.scss
Due: stylelint **/*.{css,scss}

👾 create tw theme extension for design system
  src/styles/themes/design-system.ts
  tailwind.config.ts
Due: eslint

🪲 fix UiContainer margin bug
  src/components/ui/UiContainer/UiContainer.module.scss
Due: stylelint **/*.{css,scss}

⚙️ modify design-system config
  src/styles/themes/design-system.ts
Due: eslint

⚙️ refactor config name
  src/styles/themes/design-system.config.ts
  tailwind.config.ts
Due: eslint

📝 update comment
  tailwind.config.ts
Due: eslint

📦 install zod
  package.json
  yarn.lock
Due: none

🔤 validate env file via zod
  __tests__/unit/hooks/use-env.test.tsx
  app/layout.tsx
  app/sitemap.ts
  src/hooks/index.ts
  src/hooks/use-env.ts
  src/utils/env.ts
Due: eslint

🖼️ update OG image
  public/open-graph/og (1200x627).png
Due: none

v4.3.0
  package.json
Due: none

📦 create For component
  src/components/layout/For/For.props.ts
  src/components/layout/For/For.tsx
  src/components/layout/index.ts
Due: eslint

🔢 add index to map func
  src/components/layout/For/For.props.ts
  src/components/layout/For/For.tsx
Due: eslint

🧪 write test for "For" component
  __tests__/unit/components/for-each-component.test.tsx
Due: eslint

v4.3.1
  package.json
Due: none

✍️ partial code separation
  app/constants/app-info.ts
  app/constants/index.ts
  src/interfaces/AppConstants.interface.ts
  src/types/index.ts
  src/types/open-graph.ts
Due: eslint

⚙️ create og constants
  app/constants/index.ts
  app/constants/og-config.ts
Due: eslint

⬆️ update shared og config
  app/constants/og-config.ts
Due: eslint

🔁 swap constants
  __tests__/unit/utilities/createStorageKey.test.ts
  __tests__/unit/utilities/seo.test.tsx
  app/app.constants.ts
  app/layout.tsx
  src/interfaces/AppConstants.interface.ts
  src/utils/env.ts
  src/utils/misc/create-storage-key.ts
  src/utils/seo/generateOpenGraph.ts
Due: eslint

🗑️ delete interfaces folder
  src/interfaces/AppConstants.interface.ts
Due: eslint

✍️ refactor constant name
  __tests__/unit/app/constants.test.tsx
  app/constants/index.ts
  app/constants/seo.ts
Due: eslint

🥠 refactor prop name
  __tests__/unit/components/for-each-component.test.tsx
  src/components/layout/For/For.props.ts
  src/components/layout/For/For.tsx
Due: eslint

📦 update axios
  package.json
  yarn.lock
Due: none

📥 setup certain version of axios
  package.json
  yarn.lock
Due: none

v4.4.0-rc.0
  package.json
Due: none

✍️ update lock file
  yarn.lock
Due: none

📝 change env
  src/utils/env.ts
Due: eslint

🪲 fix env schema bug
  __tests__/unit/utilities/env.test.ts
  app/constants/app-info.ts
  src/utils/env.ts
Due: eslint

⚙️ setup production mode
  .env.example
  __tests__/unit/utilities/env.test.ts
  src/utils/env.ts
Due: eslint

🧪 update test for env
  __tests__/unit/utilities/env.test.ts
Due: eslint

Path conditions:
  eslint: any of: **/*.{js,ts,jsx,tsx}
  stylelint **/*.{css,scss}: any of: **/*.scss
