Repository XenoPOMP/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint **/*.{css,scss}

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": "eslint",
  "**/*.scss": "stylelint **/*.{css,scss}"
}

🗑️ remove UiGrid
  src/components/ui/UiContainer/UiContainer.variants.ts
  src/components/ui/UiGrid/UiGrid.module.scss
  src/components/ui/UiGrid/UiGrid.props.ts
  src/components/ui/UiGrid/UiGrid.tsx
  src/components/ui/index.ts
Due: eslint, stylelint **/*.{css,scss}

➡️ setup UiContainer alignment
  src/components/ui/UiContainer/UiContainer.module.scss
  src/components/ui/UiContainer/UiContainer.tsx
  src/components/ui/UiContainer/UiContainer.variants.ts
Due: eslint, stylelint **/*.{css,scss}

🌉 fix double margin
  src/components/ui/UiContainer/UiContainer.module.scss
  src/components/ui/UiContainer/UiContainer.variants.ts
Due: eslint, stylelint **/*.{css,scss}

v5.0.3
  package.json
Due: none

🗑️ delete obsolette test
  .idea/runConfigurations/coverage.xml
  __tests__/unit/components/ui-grid.test.tsx
Due: eslint

v5.1.0-canary.0
  package.json
Due: none

🫙 add storybook run config
  .idea/runConfigurations/storybook.xml
Due: none

📦 upgrade sb dependencies
  package.json
  yarn.lock
Due: none

📦 update types lib
  package.json
  yarn.lock
Due: none

📦 install radix-ui/react-slot
  package.json
  yarn.lock
Due: none

🔲 create Button component
  src/components/ui/kit/Button/Button.props.ts
  src/components/ui/kit/Button/Button.stories.tsx
  src/components/ui/kit/Button/Button.tsx
  src/components/ui/kit/Button/Button.variants.ts
  src/components/ui/kit/index.tsx
Due: eslint

🔗 create NavbarItem component
  src/components/ui/kit/NavbarItem/NavbarItem.props.ts
  src/components/ui/kit/NavbarItem/NavbarItem.stories.ts
  src/components/ui/kit/NavbarItem/NavbarItem.tsx
Due: eslint

🔢 add index prop to NavbarItem
  src/components/ui/kit/NavbarItem/NavbarItem.props.ts
  src/components/ui/kit/NavbarItem/NavbarItem.tsx
Due: eslint

🔳 update default button variant styles
  src/components/ui/kit/Button/Button.variants.ts
Due: eslint

v5.1.0
  package.json
Due: none

📝 upgrade dependencies
  package.json
  yarn.lock
Due: none

🧪 enhance vitest config
  .config/vitest.config.ts
Due: eslint

🧪 coverage ~95%
  __tests__/unit/components/ui-kit/button/component.test.tsx
  __tests__/unit/components/ui-kit/button/variants.test.tsx
  __tests__/unit/components/ui-kit/navbar-item/component.test.tsx
  __tests__/unit/themes/plugins/design-config.test.tsx
Due: eslint

🧪 coverage ~99.5%
  __tests__/unit/hooks/use-linked-mutation.test.tsx
  __tests__/unit/hooks/use-outside/hook.test.tsx
  __tests__/unit/hooks/use-race/use-race.test.tsx
Due: eslint

🚮 remove ViLogger
  __tests__/assets/utilities/vi-logger.ts
Due: eslint

📑 update comment
  next-env.d.ts
Due: eslint

v5.1.1
  package.json
Due: none

🏞️ change project icon
  .idea/icon.svg
Due: none

✍️ create slotable HOC
  src/components/hoc/index.tsx
  src/components/hoc/slotable/slotable.tsx
  src/components/hoc/slotable/slotable.types.ts
Due: eslint

🔴 change Button realization
  src/components/ui/kit/Button/Button.props.ts
  src/components/ui/kit/Button/Button.tsx
Due: eslint

🐛 fix storybook
  .storybook/main.ts
Due: eslint

v5.1.2-canary.0
  package.json
Due: none

ʦ update TS config
  tsconfig.json
Due: none

⤵️ move d.ts file to dedicated folder
  .config/declarations/vitest.d.ts
  tsconfig.json
Due: eslint

v5.1.2-canary.1
  package.json
Due: none

␡ remove useless enum
  __tests__/unit/utilities/seo.test.tsx
  src/utils/seo/sitemap-utils.ts
Due: eslint

🥷 ignore .d 2.ts
  .gitignore
Due: none

🧪 enhance tests
  __tests__/unit/utilities/handle-functional-children/handleFunctionalChildren.test.tsx
  __tests__/unit/utilities/handle-functional-children/utils.tsx
  __tests__/unit/utilities/seo.test.tsx
Due: eslint

📝 move cypress config to .config folder
  .config/cypress.config.ts
  .config/cypress/fixtures/example.json
  .config/cypress/support/commands.ts
  .config/cypress/support/e2e.ts
Due: eslint

📁 fix e2e
  .config/cypress.config.ts
  package.json
Due: eslint

v5.1.2-canary.2
  package.json
Due: none

🗑️ delete previous realization
  src/components/ui/UiContainer/UiContainer.module.scss
  src/components/ui/UiContainer/UiContainer.props.ts
  src/components/ui/UiContainer/UiContainer.tsx
  src/components/ui/UiContainer/UiContainer.variants.ts
Due: eslint, stylelint **/*.{css,scss}

📝 create Stack component
  .idea/inspectionProfiles/Project_Default.xml
  src/components/ui/Stack/Stack.module.scss
  src/components/ui/Stack/Stack.props.ts
  src/components/ui/Stack/Stack.stories.tsx
  src/components/ui/Stack/Stack.tsx
  src/components/ui/Stack/Stack.variants.ts
  src/components/ui/index.ts
Due: eslint, stylelint **/*.{css,scss}

✍️ change default inset
  src/components/ui/Stack/Stack.tsx
Due: eslint

v5.1.2-canary.3
  package.json
Due: none
