Repository XenoPOMP/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint **/*.{css,scss}

💉 add test functionality from xeno-planner
  __tests__/assets/assertions/index.ts
  __tests__/assets/assertions/not-throwing.ts
  __tests__/assets/utilities/expect-to-render.tsx
  __tests__/assets/utilities/index.ts
  __tests__/assets/utilities/injectMocks.ts
  __tests__/assets/utilities/testNextPage.ts
Due: eslint

🧪 update helper func
  __tests__/assets/utilities/injectMocks.ts
  __tests__/assets/utilities/testNextPage.ts
Due: eslint

🧪 test main page with new utility
  __tests__/unit/app/main-page.test.tsx
Due: eslint

💉 add mocks injection to layout.test
  __tests__/assets/utilities/testNextPage.ts
  __tests__/unit/app/layout.test.tsx
Due: eslint

💉 inject mocks in sitemap.test
  __tests__/unit/app/sitemap.test.tsx
Due: eslint

🧪 change structure of use-boolean.test
  __tests__/assets/components/TestUseBoolean.tsx
  __tests__/assets/components/index.tsx
  __tests__/unit/hooks/use-boolean.test.tsx
Due: eslint

🧪 update tests
  __tests__/unit/hooks/use-env.test.tsx
  __tests__/unit/pages/home-page.test.tsx
  __tests__/unit/themes/plugins/custom-classes-plugin.test.ts
Due: eslint

📦 extend vitest expect func
  __tests__/assets/extensions/index.ts
  __tests__/assets/extensions/toMatchStructure.ts
  __tests__/setup.vitest.ts
  __tests__/unit/themes/plugins/themes.test.ts
  tsconfig.json
  vitest.config.ts
  vitest.d.ts
Due: eslint

v4.0.0-beta.0
  package.json
Due: none

✍️ update stylelint config
  .stylelintrc.js
Due: eslint

✍️ update stylelintignore
  .stylelintignore
Due: none

📃 make docs
  .dev/docs/usage.md
  README.md
Due: none

📝 update readme struct
  README.md
Due: none

🖼️ change size of logo
  README.md
Due: none

⛔ remove br tag
  README.md
Due: none

🪝 add new hooks
  src/hooks/useLinkedMutation.ts
  src/hooks/useOutSide.ts
Due: eslint

📦 install mdx
  package.json
  yarn.lock
Due: none

📦 install react-use-outside
  package.json
  yarn.lock
Due: none

✅ enable MDX in config
  mdx-components.tsx
  next.config.js
Due: eslint

v4.0.0
  package.json
Due: none

⛔ ignore non-major versions in dependabot
  .github/dependabot.yml
Due: none

📦 update vulnerable deps
  package.json
  yarn.lock
Due: none

v4.0.1
  package.json
Due: none

🪝 create useRace hook
  package.json
  src/hooks/use-race/index.ts
  src/hooks/use-race/use-race.types.ts
  src/hooks/use-race/useRace.ts
  yarn.lock
Due: eslint

🌀 update use-race.types
  src/hooks/use-race/use-race.types.ts
Due: eslint

🌀 update comments
  src/hooks/use-race/useRace.ts
Due: eslint

🗑️ ignore testing artifacts
  vitest.config.ts
Due: eslint

🧪 create useRace test
  __tests__/unit/hooks/use-race/TestUseRace.tsx
  __tests__/unit/hooks/use-race/use-race.test.tsx
Due: eslint

v4.1.0
  package.json
Due: none

➕ add cloc action
  .github/workflows/cloc.yml
  README.md
Due: none

✍️ rename target branch
  .github/workflows/cloc.yml
Due: none

Revert "✍️ rename target branch"
  .github/workflows/cloc.yml
Due: none

Revert "➕ add cloc action"
  .github/workflows/cloc.yml
  README.md
Due: none

📦 install cva lib
  package.json
  yarn.lock
Due: none

🌬️ install tw prettier plugin
  .prettierrc
  package.json
  yarn.lock
Due: none

🗃️ move Providers inside components/layout
  app/layout.tsx
  src/components/layout/Providers/index.ts
  src/components/layout/index.ts
Due: eslint

✍️ place all layout components in one module
  app/layout.tsx
  src/components/layout/CoreLayout/CoreLayout.tsx
  src/components/layout/Providers/index.ts
  src/components/layout/index.ts
Due: eslint

✍️ refactor RQProvider imports
  __tests__/assets/utilities/testNextPage.ts
  src/components/layout/Providers/Providers.tsx
  src/components/providers/index.ts
Due: eslint

🗑️ delete useless component
  src/components/ui/BackgroundImage/BackgroundImage.module.scss
  src/components/ui/BackgroundImage/BackgroundImage.props.ts
  src/components/ui/BackgroundImage/BackgroundImage.tsx
Due: eslint, stylelint **/*.{css,scss}

➡️ refactor ui module paths
  app/page.tsx
  src/components/layout/Footer/Footer.tsx
  src/components/layout/Header/Header.tsx
  src/components/ui/UiGrid/UiGrid.props.ts
  src/components/ui/UiGrid/UiGrid.tsx
  src/components/ui/index.ts
Due: eslint

Path conditions:
  eslint: any of: **/*.{js,ts,jsx,tsx}
  stylelint **/*.{css,scss}: any of: **/*.scss
