Repository XenoPOMP/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint **/*.{css,scss}

🫙 change UiContainer to Stack
  app/page.tsx
Due: eslint

📝 change margins
  src/components/ui/Stack/Stack.variants.ts
Due: eslint

🗑️ delete TODO.md
  TODO.md
Due: none

v5.1.2
  package.json
Due: none

📚 remove docs from README
  README.md
Due: none

〰️ update eslint config
  package.json
  yarn.lock
Due: none

📦 update package
  package.json
  yarn.lock
Due: none

🔭 create Spacer
  src/components/ui/Spacer/Spacer.stories.tsx
  src/components/ui/Spacer/Spacer.tsx
  src/components/ui/index.ts
Due: eslint

🥷 update gitignore
  .gitignore
Due: none

🌀 move tw config to .config
  .config/tailwind.config.ts
  app/globals.scss
Due: eslint, stylelint **/*.{css,scss}

v5.1.3
  package.json
Due: none

🧪 enhance tests
  __tests__/assets/mocks/index.ts
  __tests__/assets/mocks/mockTw.ts
  __tests__/unit/components/spacer.test.tsx
  __tests__/unit/themes/plugins/custom-classes-plugin.test.ts
Due: eslint

🧪 enhance tests (2)
  __tests__/unit/hooks/use-race/use-race.test.tsx
Due: eslint

🌀 fix constant types
  __tests__/unit/utilities/seo.test.tsx
  app/constants/og-config.ts
  src/utils/seo/generateOpenGraph.ts
Due: eslint

🧼 change deprecated hook
  __tests__/unit/hooks/use-copy-to-clipboard.test.tsx
  __tests__/unit/hooks/use-outside/hook.test.tsx
  package.json
  src/hooks/useCopyToClipboard.ts
  yarn.lock
Due: eslint

🧪 coverage 100%
  __tests__/unit/hooks/use-race/use-race.test.tsx
Due: eslint

v5.1.4
  package.json
Due: none

📝 default nycrc
  .config/.nycrc
Due: none

Update .nycrc
  .config/.nycrc
Due: none

🚮 delete nycrc
  .config/.nycrc
Due: none

📦 install esno
  package.json
  yarn.lock
Due: none

🐞 fix CI
  .github/workflows/ci.yml
Due: none

📑 update README.md
  README.md
Due: none

v5.2.0-canary.0
  package.json
Due: none

😼 add Environment section to README
  README.md
Due: none

v5.2.0-canary.1
  package.json
Due: none

v5.2.0-canary.2
  package.json
Due: none

✔️ mark all rework candidates
  src/styles/_config.scss
  src/styles/functions/colorOpacity.scss
  src/styles/functions/globalPadding.scss
  src/styles/functions/sameTransition.scss
  src/styles/functions/toRem.scss
  src/styles/mixins/appearance.scss
  src/styles/mixins/automaticColumns.scss
  src/styles/mixins/backdrop.scss
  src/styles/mixins/boxSizing.scss
  src/styles/mixins/customScrollbar.scss
  src/styles/mixins/desktopHover.scss
  src/styles/mixins/full-bleed.scss
  src/styles/mixins/maskImage.scss
  src/styles/mixins/padding.scss
  src/styles/mixins/polyfills.scss
  src/styles/mixins/svgMonofill.scss
  src/styles/mixins/userSelect.scss
  src/styles/templates/contentlessOverlay.scss
  src/styles/templates/flexCenter.scss
  src/styles/templates/fonts.scss
  src/styles/templates/notSelectable.scss
  src/styles/templates/nullstyles.scss
  src/styles/templates/scrollable.scss
  src/styles/templates/tabularNumbers.scss
  src/styles/utils/media.scss
Due: stylelint **/*.{css,scss}

🗑️ delete deprecated styles
  src/styles/_config.scss
  src/styles/functions/colorOpacity.scss
  src/styles/functions/globalPadding.scss
  src/styles/functions/sameTransition.scss
  src/styles/functions/toRem.scss
  src/styles/mixins/maskImage.scss
  src/styles/mixins/padding.scss
  src/styles/mixins/polyfills.scss
  src/styles/mixins/userSelect.scss
  src/styles/templates.scss
  src/styles/templates/contentlessOverlay.scss
  src/styles/templates/flexCenter.scss
  src/styles/templates/fonts.scss
  src/styles/templates/notSelectable.scss
  src/styles/templates/nullstyles.scss
  src/styles/templates/scrollable.scss
  src/styles/utils/media.scss
Due: stylelint **/*.{css,scss}

📝 install tailwind-bleed
  .config/tailwind.config.ts
  package.json
  src/styles/mixins/full-bleed.scss
  src/styles/templates.scss
  src/styles/templates/tabularNumbers.scss
  yarn.lock
Due: eslint, stylelint **/*.{css,scss}

🚮 delete deprecated styles
  src/styles/mixins/appearance.scss
  src/styles/mixins/backdrop.scss
  src/styles/templates.scss
Due: stylelint **/*.{css,scss}

😼 delete all remaining deprecated styles
  src/styles/mixins/automaticColumns.scss
  src/styles/mixins/boxSizing.scss
  src/styles/mixins/customScrollbar.scss
  src/styles/mixins/desktopHover.scss
  src/styles/mixins/svgMonofill.scss
  src/styles/templates.scss
Due: stylelint **/*.{css,scss}

🧐 change $mobileBreakpoint
  src/styles/_config.scss
Due: stylelint **/*.{css,scss}

🙈 create Heading component
  src/components/ui/DesignSystem/DesignSystem.tsx
  src/components/ui/kit/Heading/Heading.props.ts
  src/components/ui/kit/Heading/Heading.stories.tsx
  src/components/ui/kit/Heading/Heading.tsx
  src/components/ui/kit/index.tsx
Due: eslint

👨‍💻 create DesignSystem
  .config/vitest.config.ts
  __tests__/unit/components/ui-kit/heading/component.test.tsx
  src/components/ui/DesignSystem/DesignSystem.stories.tsx
  src/components/ui/DesignSystem/DesignSystem.tsx
  src/components/ui/DesignSystem/use-computed-styles.ts
Due: eslint

v5.2.0
  package.json
Due: none

🪈 change CI pipeline
  .github/workflows/ci.yml
Due: none

🚮 remove "concurrently"
  package.json
  yarn.lock
Due: none

🚮 remove knip
  package.json
  yarn.lock
Due: none

📑 add NODE_ENV to envSchema
  __tests__/unit/utilities/env.test.ts
  src/utils/env.ts
Due: eslint

Path conditions:
  eslint: any of: **/*.{js,ts,jsx,tsx}
  stylelint **/*.{css,scss}: any of: **/*.scss
