Repository XenoPOMP/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint **/*.{css,scss}

🥘 apply codemods
  app/proxy.ts
  package.json
  yarn.lock
Due: eslint

🪲 add plugin
  src/utils/next/app-config.ts
Due: eslint

✍️ change env variables
  .env.example
  __tests__/unit/utilities/env.test.ts
  app/constants/og-config.ts
  app/layout.tsx
  app/sitemap.ts
  src/utils/env.ts
Due: eslint

✍️ update readme
  README.md
Due: none

🪲 fix generics again
  src/components/ui/VStack/VStack.tsx
Due: eslint

✍️ update generics
  __tests__/assets/test-components/index.ts
  __tests__/assets/test-components/use-optimistic-mutation/UseOptimisticMutationTest.tsx
  __tests__/assets/test-components/use-optimistic-mutation/types.ts
  __tests__/e2e/MainPage.cy.ts
  __tests__/unit/components/hoc/slotable.test.tsx
  package.json
  src/components/ui/HStack/HStack.tsx
  src/components/ui/Stack/Stack.tsx
  src/components/ui/ZStack/ZStack.tsx
  src/components/ui/kit/Button/Button.tsx
  src/components/ui/kit/Field/Field.tsx
  src/components/ui/kit/Glass/Glass.tsx
  src/components/ui/kit/SplitView/SplitView.tsx
Due: eslint

✍️ init Paraglide project
  messages/de.json
  messages/en.json
  package.json
  project.inlang/settings.json
  yarn.lock
Due: none

✍️ modify the config types
  next.config.ts
  src/utils/next/app-config.ts
  src/utils/next/index.ts
Due: eslint

🧪 change tests
  __tests__/unit/utilities/global-next-config.test.tsx
Due: eslint

🪲 handle act errors
  .github/workflows/ci.yml
Due: none

⏎ add return statement
  src/utils/next/app-config.ts
Due: eslint

📝 refactor func signature
  src/components/hoc/slotable/slotable.tsx
Due: eslint

🚮 delete obsolete type
  app/constants/mock-constants.ts
  src/types/google-fonts.ts
  src/types/index.ts
Due: eslint

🥷 update ignore file
  .gitignore
Due: none

🗑️ delete unused func
  __tests__/unit/utilities/handle-functional-children/handleFunctionalChildren.test.tsx
  __tests__/unit/utilities/handle-functional-children/utils.tsx
  src/utils/react/handleFunctionalChildren.tsx
  src/utils/react/index.ts
Due: eslint

🪲 fix env variables in tests
  .config/vitest.config.ts
Due: eslint

✍️ refactor scripts
  package.json
Due: none

🚮 delete core layout component
  __tests__/unit/components/core-layout.test.tsx
  package.json
  src/components/layout/CoreLayout/CoreLayout.module.scss
  src/components/layout/CoreLayout/CoreLayout.props.ts
  src/components/layout/CoreLayout/CoreLayout.tsx
  src/components/layout/index.ts
Due: eslint, stylelint **/*.{css,scss}

🧹 remove DesignSystem
  src/components/ui/DesignSystem/DesignSystem.stories.tsx
  src/components/ui/DesignSystem/DesignSystem.tsx
  src/components/ui/DesignSystem/use-computed-styles.ts
Due: eslint

✍️ write middleware
  app/middleware.ts
Due: eslint

🥷 change env file
  .gitignore
Due: none

✍️ add new locale
  messages/en.json
  messages/ru.json
Due: none

Path conditions:
  eslint: any of: **/*.{js,ts,jsx,tsx}
  stylelint **/*.{css,scss}: any of: **/*.scss
