Repository XenoPOMP/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint **/*.{css,scss}

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": "eslint",
  "**/*.scss": "stylelint **/*.{css,scss}"
}

ǀ commit to trigger vercel deployment
  .env.example
Due: none

⛬ prefetch main url
  app/sw.ts
Due: eslint

🗑️ remove unusing directive
  .config/vitest.config.ts
  __tests__/unit/utilities/next-config-wrappers.test.ts
Due: eslint

🥷 update vitest ignores
  .config/helpers/test-exclude/vitest-exclusions.ts
Due: eslint

🖊️ update comment
  __tests__/unit/utilities/global-next-config.test.tsx
  src/utils/next/app-config.ts
Due: eslint

🧪 cover hook with tests
  __tests__/unit/hooks/use-hydrated-store.test.tsx
Due: eslint

📝 update package manually
  package.json
  yarn.lock
Due: none

ℹ️ [skip ci] v6.0.0
  package.json
Due: none

ℹ️ [skip ci] update readme
  README.md
Due: none

🌠 add PWA icons
  app/icons/android-chrome-192x192.png
  app/icons/icon-512x512.png
Due: none

⚜️ change DesignSystem
  src/components/ui/DesignSystem/DesignSystem.tsx
  src/components/ui/kit/Heading/Heading.tsx
Due: eslint

🚮 remove obsolete colors
  src/themes/definitions/darkTheme.ts
Due: eslint

🚮 delete styles
  src/components/ui/kit/Button/Button.module.scss
  src/components/ui/kit/List/List.module.scss
  src/components/ui/kit/ShortcutHint/ShortcutHint.module.scss
  src/components/ui/kit/UIKit.module.scss
Due: stylelint **/*.{css,scss}

🧹 remove styles imports
  src/components/ui/kit/Badge/Badge.tsx
  src/components/ui/kit/Button/Button.tsx
  src/components/ui/kit/Button/Button.variants.ts
  src/components/ui/kit/List/List.tsx
  src/components/ui/kit/List/ListItem.tsx
  src/components/ui/kit/ShortcutHint/ShortcutHint.tsx
Due: eslint

🧼 remove all predefined styles
  src/components/ui/kit/Avatar/Avatar.tsx
  src/components/ui/kit/Badge/Badge.tsx
  src/components/ui/kit/Badge/Badge.variants.ts
  src/components/ui/kit/Button/Button.props.ts
  src/components/ui/kit/Button/Button.stories.tsx
  src/components/ui/kit/Button/Button.tsx
  src/components/ui/kit/Button/Button.variants.ts
  src/components/ui/kit/Input/Input.stories.tsx
  src/components/ui/kit/SplitView/SplitView.props.ts
  src/components/ui/kit/SplitView/SplitView.tsx
  src/components/ui/kit/Toggle/Toggle.tsx
Due: eslint

🐛 fix imports
  __tests__/unit/components/ui-kit/badge/component.test.tsx
  __tests__/unit/components/ui-kit/button/variants.test.tsx
Due: eslint

🙈 create disablable tw class
  app/globals.scss
Due: stylelint **/*.{css,scss}

Revert "🙈 create disablable tw class"
  app/globals.scss
Due: stylelint **/*.{css,scss}

✍️ add global styles for disabled items
  app/globals.scss
  src/styles/nullstyles.scss
Due: stylelint **/*.{css,scss}

➕ add layer component
  src/styles/nullstyles.scss
Due: stylelint **/*.{css,scss}

🖊️ update selector
  src/styles/nullstyles.scss
Due: stylelint **/*.{css,scss}

💬 add comment
  src/styles/nullstyles.scss
Due: stylelint **/*.{css,scss}

🪝 create new hoc
  src/components/hoc/index.tsx
  src/components/hoc/with-classname/with-classname.tsx
Due: eslint

✍️ create type for adding setter function
  src/zustand/index.ts
  src/zustand/utils/create-persistent-store.ts
Due: eslint

✍️ update input
  src/components/ui/kit/Input/Input.stories.tsx
  src/components/ui/kit/Input/Input.tsx
  src/components/ui/kit/Input/callbacks/on-change/index.ts
Due: eslint

✍️ create validating callback
  src/components/ui/kit/Input/Input.callbacks.ts
  src/components/ui/kit/Input/Input.tsx
  src/components/ui/kit/Input/callbacks/index.ts
  src/components/ui/kit/Input/callbacks/on-change/index.ts
  src/components/ui/kit/Input/callbacks/on-change/on-date-validate.ts
  src/components/ui/kit/Input/callbacks/types/index.ts
Due: eslint

🗑️ delete old comp
  src/components/ui/kit/Input/Input.callbacks.ts
  src/components/ui/kit/Input/Input.stories.tsx
  src/components/ui/kit/Input/Input.tsx
  src/components/ui/kit/Input/callbacks/index.ts
  src/components/ui/kit/Input/callbacks/on-change/index.ts
  src/components/ui/kit/Input/callbacks/on-change/on-date-validate.ts
  src/components/ui/kit/Input/callbacks/types/index.ts
  src/components/ui/kit/index.tsx
Due: eslint

🧬 generate comp
  __tests__/unit/components/ui-kit/input-field/component.test.tsx
  src/components/ui/kit/InputField/InputField.stories.tsx
  src/components/ui/kit/InputField/InputField.tsx
  src/components/ui/kit/index.tsx
Due: eslint

💬 update comment
  src/components/ui/kit/InputField/InputField.tsx
Due: eslint

🏑 create Field comp
  __tests__/unit/components/ui-kit/field/component.test.tsx
  src/components/ui/kit/Field/Field.stories.tsx
  src/components/ui/kit/Field/Field.tsx
Due: eslint

🖊️ refactor InputField
  src/components/ui/kit/InputField/InputField.tsx
  src/components/ui/kit/index.tsx
Due: eslint

✍️ change story
  src/components/ui/kit/Field/Field.tsx
  src/components/ui/kit/InputField/InputField.stories.tsx
  src/components/ui/kit/InputField/InputField.tsx
Due: eslint

🔨 create story builder
  src/utils/storybook/index.ts
  src/utils/storybook/story-builder.ts
Due: eslint

🧹 remove previous code
  src/components/ui/kit/InputField/InputField.stories.tsx
Due: eslint

👷‍♂️ use builder pattern in story
  src/components/ui/kit/InputField/InputField.stories.tsx
  src/utils/storybook/story-builder.ts
Due: eslint

🪲 fix build process
  src/components/ui/kit/InputField/InputField.stories.tsx
Due: eslint

✍️ change template
  _templates/ui/new/story.ejs.t
Due: none

✍️ change another template
  _templates/comp/new/story.ejs.t
Due: none

🅱️ create new type
  src/types/index.ts
  src/types/next-link-href.ts
Due: eslint

📦 update package
  package.json
  yarn.lock
Due: none
