Repository XenoPOMP/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint **/*.{css,scss}

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": "eslint",
  "**/*.scss": "stylelint **/*.{css,scss}"
}

🗑️ delete TODO file on template cleanup
  .github/workflows/template-cleanup.yml
Due: none

✍️ add todos for config branch
  TODO.md
Due: none

✍️ update todo
  TODO.md
Due: none

ℹ️ add xml files from .idea folder
  .idea/discord.xml
  .idea/prettier.xml
  .idea/vcs.xml
Due: none

✍️ add Project_Default to repo
  .idea/inspectionProfiles/Project_Default.xml
Due: none

👎 disable turbopack
  next-env.d.ts
  package.json
Due: eslint

🧹 delete todo item
  TODO.md
Due: none

📝 update todo
  TODO.md
Due: none

➡️ move vitest to .config folder
  .config/vitest.config.ts
  TODO.md
  package.json
Due: eslint

📥 move lint-staged config to configs
  .config/.lintstagedrc.json
Due: none

✍️ change pre-commit hook
  .husky/pre-commit
Due: none

✅ update todo
  TODO.md
Due: none

v4.5.0
  package.json
Due: none

🧑‍🎤 change actor parsing in template-cleanuo
  .github/workflows/template-cleanup.yml
Due: none

📦 upgrade types` lib
  package.json
  yarn.lock
Due: none

📦 install peer dependency
  package.json
  yarn.lock
Due: none

➡️ extract list of mocking fonts as constant value
  __tests__/assets/mocks/mockFonts.ts
  app/constants/index.ts
  app/constants/mock-constants.ts
  src/types/google-fonts.ts
  src/types/index.ts
Due: eslint

📦 update zustand to version 5.0
  package.json
  yarn.lock
Due: none

🗑️ remove deprecated ESLint 8
  .eslintignore
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint

🗑️ remove unusing libs
  package.json
  yarn.lock
Due: none

📦 install eslint and config libs
  package.json
  yarn.lock
Due: none

🗑️ delete nvmrc
  .nvmrc
Due: none

📝 define eslint config
  .config/eslint.config.mjs
Due: none

📦 update eslint config
  .config/eslint.config.mjs
  package.json
  yarn.lock
Due: none

✍️ update lint-staged config
  .config/.lintstagedrc.json
Due: none

➡️ change location of config in project files
  .gitignore
  .idea/jsLinters/eslint.xml
Due: none

⚙️ modify eslint config
  .config/eslint.config.mjs
Due: none

🪲 fix eslint errors
  .dev/scripts/logger.ts
Due: eslint

🪲 fix eslint errors
  vitest.d.ts
Due: eslint

🥷 ignore rules on legacy code
  .dev/scripts/pack-env.ts
Due: eslint

🪲 fix eslint errors
  .config/eslint.config.mjs
  .dev/scripts/utils/appSource.ts
  .dev/scripts/utils/creation.ts
  .dev/scripts/utils/deletion.ts
  .storybook/main.ts
  .storybook/preview.ts
  __tests__/assets/mocks/mockFonts.ts
  __tests__/assets/utilities/expectToDeepEqual.ts
  __tests__/assets/utilities/testNextPage.ts
  __tests__/assets/utilities/vi-logger.ts
  vitest.d.ts
Due: eslint

🪲 fix eslint errors
  .config/eslint.config.mjs
  __tests__/unit/hooks/use-copy-to-clipboard.test.tsx
  __tests__/unit/hooks/use-race/TestUseRace.tsx
  __tests__/unit/hooks/use-unique-id.test.tsx
  __tests__/unit/zustand/use-hydrated-store.test.tsx
  app/constants/seo.ts
  app/layout.tsx
  app/page.tsx
  app/sitemap.ts
Due: eslint

🪲 fix eslint errors
  .config/eslint.config.mjs
  src/components/layout/CoreLayout/CoreLayout.tsx
  src/components/layout/Footer/Footer.module.scss
  src/components/layout/Footer/Footer.props.ts
  src/components/layout/Footer/Footer.tsx
  src/components/layout/For/For.props.ts
  src/components/layout/Header/Header.module.scss
  src/components/layout/Header/Header.props.ts
  src/components/layout/Header/Header.tsx
  src/components/layout/Providers/Providers.tsx
  src/components/layout/index.ts
  src/components/ui/UiContainer/UiContainer.props.ts
  src/components/ui/UiContainer/UiContainer.tsx
  src/components/ui/UiGrid/UiGrid.props.ts
  src/components/ui/UiGrid/UiGrid.tsx
  src/hooks/use-race/useRace.ts
  src/styles/themes/plugins/api.ts
  src/themes/CustomTheme.ts
  src/themes/dark.theme.ts
  src/utils/misc/create-storage-key.ts
  src/utils/react/handleFunctionalChildren.tsx
  src/utils/seo/generateOpenGraph.ts
  src/utils/seo/sitemap-utils.ts
  src/zustand/hooks/useHydratedStore.ts
  tailwind.config.ts
Due: eslint, stylelint **/*.{css,scss}

🪲 fix eslint errors
  .config/eslint.config.mjs
  cypress/support/commands.ts
Due: eslint

📏 update config lib
  .config/eslint.config.mjs
  package.json
  yarn.lock
Due: none

📥 install Next.js 15
  package.json
  yarn.lock
Due: none

🚨 suppress hydration warnings for now
  app/layout.tsx
Due: eslint
