Repository XenoPOMP/next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint **/*.{css,scss}

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": "eslint",
  "**/*.scss": "stylelint **/*.{css,scss}"
}

ℹ️ [skip ci] v7.0.1
  package.json
Due: none

📝 update dependabot policy
  .github/dependabot.yml
Due: none

🤖 change dependabot config
  .github/dependabot.yml
Due: none

📦 update react manually
  .idea/runConfigurations/run_unit_tests_once.xml
  package.json
  yarn.lock
Due: none

☘️ update integrity
  yarn.lock
Due: none

📕 add storybook group
  .github/dependabot.yml
Due: none

➡️ add next.js group
  .github/dependabot.yml
Due: none

🧪 add vitest group
  .github/dependabot.yml
Due: none

📝 add linter groups
  .github/dependabot.yml
Due: none

🌀 add ts group
  .github/dependabot.yml
Due: none

✏️ add more groups
  .github/dependabot.yml
Due: none

🤖 write script for checkig dependabot groups
  .config/sh/dependabot-groups.sh
  .idea/runConfigurations/get_missing_dependabot_deps.xml
Due: none

👨‍💻 update dependabot groups
  .github/dependabot.yml
Due: none

📝 update groups again
  .github/dependabot.yml
Due: none

✏️ increase PR limit
  .github/dependabot.yml
Due: none

ℹ️ [skip ci] v7.1.0
  package.json
Due: none

📝 re-export function
  src/components/ui/HStack/HStack.stories.tsx
  src/components/ui/VStack/Preview.tsx
  src/components/ui/VStack/VStack.stories.tsx
Due: eslint

🪲 fix storybook deps
  package.json
  yarn.lock
Due: none

✏️ update static folder
  .gitignore
Due: none

📁 update ci
  .github/workflows/ci.yml
Due: none

‼️ commit to trigger CI error only
  package.json
  yarn.lock
Due: none

👨‍💻 rename preview file
  .config/helpers/test-exclude/vitest-exclusions.ts
  src/components/ui/HStack/HStack.stories.tsx
  src/components/ui/VStack/SB_Preview.tsx
  src/components/ui/VStack/VStack.stories.tsx
Due: eslint

Revert "‼️ commit to trigger CI error only"
  package.json
  yarn.lock
Due: none

👨‍💻 force tailwind to be lower than v4
  package.json
  yarn.lock
Due: none

🤖 update dependabot cfg
  .github/dependabot.yml
Due: none

✍️ add ignore comments
  app/globals.scss
Due: stylelint **/*.{css,scss}

🧪 create new spy utility
  __tests__/assets/spies/spy-factory.ts
  __tests__/unit/test-assets/utils/spy-factory.test.tsx
Due: eslint

✍️ deprecate spyOnConsole
  __tests__/assets/spies/index.ts
  __tests__/assets/spies/spy-on-console.ts
  __tests__/unit/test-assets/utils/spy-factory.test.tsx
Due: eslint

📦 update lib
  package.json
  yarn.lock
Due: none

👨‍💻 update tsconfig
  tsconfig.json
Due: none

🪲 fix types
  package.json
  yarn.lock
Due: none

🤖 fix eslint errors
  __tests__/unit/hooks/use-effect-after-mount/hook.test.ts
  __tests__/unit/hooks/use-hydrated-store.test.tsx
  __tests__/unit/hooks/use-tracked-state/hook.test.ts
  eslint.config.ts
  src/components/ui/Stack/Stack.tsx
  src/components/ui/ZStack/ZStack.tsx
  src/components/ui/kit/Button/Button.tsx
  src/components/ui/kit/Glass/Glass.tsx
  src/hooks/index.ts
  src/hooks/useCopyToClipboard.ts
Due: eslint

🪲 deprecate some items too
  __tests__/unit/utilities/handle-functional-children/handleFunctionalChildren.test.tsx
  __tests__/unit/utilities/handle-functional-children/utils.tsx
  app/layout.tsx
  src/components/layout/CoreLayout/CoreLayout.tsx
  src/components/layout/index.ts
  src/utils/react/handleFunctionalChildren.tsx
  src/utils/react/index.ts
Due: eslint

🧪 fix tests
  __tests__/unit/components/core-layout.test.tsx
Due: eslint

✍️ add run script
  .gitignore
  .idea/runConfigurations/dev__https_.xml
Due: none

✍️ optimize code
  src/utils/misc/create-typesafe-url.ts
Due: eslint

🤖 update ci
  .github/workflows/ci.yml
Due: none

✍️ update gitignore
  .gitignore
Due: none

✍️ remove coverage from CI
  .github/workflows/ci.yml
Due: none

Revert "✍️ remove coverage from CI"
  .github/workflows/ci.yml
Due: none
